body {
  background: #f9f8fe; 
}

a {
  color: #9670f4;
}

.App-header {
  margin: 30px 0;
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.brand-logo {
  display: block;
  height: 90px;
  width: auto;
  opacity: 0.8;
}

header {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
